@model ReviewsSite.Models.Tag

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>@Model.Text</h1>
    
    <ul>
        @foreach (var reviewTag in Model.ReviewTags)
        {
            <li>
                <a href="/Home/Details/@reviewTag.ReviewId">
                    @reviewTag.Review.Title
                </a>
            </li>
        }
    </ul>

</body>
</html>
